/*
DUSTY - #96858F
LAVENDAR - #6D7993
OVERCAST - #9099A2
PAPER - #D5D5D5

https://www.canva.com/learn/website-color-schemes/

https://www.colorhexa.com
*/

@keyframes color-change {
    0% { color: #FFF; }
    50% { color: #ff4da6; }
    100% { color: #e60073; }
}

.glow {
  font-size:500%;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6, 0 0 90px #ff4da6, 0 0 100px #ff4da6, 0 0 110px #ff4da6;
  }
}


a{
    
    text-decoration: none;
    
}

body{
    
    background-color: #9099A2;
    margin: 0;
    
}

.container {
    
    width: 90%;
    margin: 0 auto;
    background: #96858F;
    
}

#blah {

    max-width: 71%; 
    max-height: 71%;
    margin: 0 auto;
    position: left;
    border: 4px solid rgb(100, 90, 96);

}

.header {
    
    background-image: url(non-copyrighted-frac-1.jpg);
    padding: 2.04% 0 2.04% 3.71%;
    color: #6D7993;
    background-position: 14% 1%;
    
}

.header a {
    
    color: #FFF;
    font-size: 275%;
    font-weight: bold;
    font-family: "Bahnschrift", "", "";
    animation: glow 2.5s ease-in-out infinite alternate;
    
}

.header a:hover{
    
    color: #C5D6DB;
    
}

.menu {
    
    background-color: #6D7993;
    height: 1.66%;
    vertical-align: middle;
    padding: 1.11% 0.625% 1.11% 2.08%;
    
}

.menu a {
    
    color: #C5D6DB;
    font-family: "Calibri", "Arial Narrow", "Myriad Pro"
    
}

.menu a:hover {
    
    color: #FFF;
    vertical-align: top;
    font-size: 112.5%;
    
}

#FILE {
    
    font-size: 85%;
    
}

aside {
    
    float: left;
    width: 10.83%;
    padding: 0.93% 1% 4.63% 0;
    background-color: #96858F;
    
}

h1 {
    
    text-align: center;
    margin: 0;
    color: #6D7993;
    text-shadow: 2px 2px #000;
    font-size: 150%;
    font-family: "Calibri", "Arial Narrow", "Myriad Pro";
    font-weight: normal;
    
}

.contact h1 {
    
    text-align: left;
    margin: 0;
    color: #6D7993;
    text-shadow: 2px 2px #000;
    font-size: 225%;
    font-family: "Calibri", "Arial Narrow", "Myriad Pro";
    font-weight: normal;
    text-decoration: underline;
    
}

h2 {
    
    margin: 0;
    color: #000;
    text-shadow: 2px 2px #6D7993;
    font-size: 150%;
    font-family: "Calibri", "Arial Narrow", "Myriad Pro";
    font-weight: normal;
}

.main {
    
    margin: 0 0 0 10.42%;
    padding: 0 0.52% 0.93% 1.04%;
    font-family: "Georgia", "Arial Narrow", "Calibri", "Myriad Pro";
    font-size: 100%;
    line-height: 125%;
    text-emphasis: justify;
    word-wrap: break-word;
    
}

#asciiArt {

    font-family: 'Courier New', Courier, monospace;
    line-height: normal;
    color: #000;

}

.main a:hover{
    
    color: #FFF;
    vertical-align: top;
    font-size: 112.5%;
    
}

#progressBar {
    position: relative;
    width: 80%;
    height: 30px;
    background-color: #ddd;
  }
  
  #barStatus {
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: green;
  }

.break {
    
    background-color: #6D7993;
    height: 1.67%;
    vertical-align: middle;
    padding: 1.11% 0.625% 1.11% 2.08%;
    
}

footer {
    
    padding: 1.11% 0.625% 1.11% 0.625%;
    background-image: url(non-copyrighted-frac-1.jpg);
    background-position: -4.62962962962963% 99%;
    color: #C5D6DB;
    text-shadow: 1px 1px #000;
    font-size: 100%;
    font-family: "Times New Roman";
    text-align: right;
    
}

footer a {
    
    text-decoration: underline;
    color: #C5D6DB;
    text-shadow: 1px 1px #000;
    
}

footer a:hover {
    
    color: #FFF;
    
}

.seperator {
    
    color: #ff4da6;
    font-size: 112.5%;
    text-align: center;
    font-weight: bold;
    animation: color-change 5s infinite alternate;
    
}


/* About Page Styles*/

#about-page #home-image img {
    
    width: 70%;
    float: left;
    
}

#about-page #profile-info {
    
    clear: both;
    
}

#about-page .description {
   
    background-image: url(https://image.flaticon.com/icons/svg/25/25231.svg);
    background-position: 100% 10%;
    background-repeat: no-repeat;
    background-size: 60% 100%;
    clear: both;
    
}

#paragraph-about-us {
    
    font-size: 112.5%;
    color: #2a3540;
    font-weight: bold;
    font-family: "Myriad Pro", "Arial Narrow", "Calibri";
    
}

#contacting div {
    
    padding: 0 0 0 2.6%;
    
}

.contact #form {
    
    border-radius: 5px;
    width: 52.08%;
    background-color: #6D7993;
    padding: 0.93% 0.52% 0.93% 0.52%;
    margin: 0 auto;
    
}

#contact #form input {
    
    border-radius: 5px;
    height: 1.85%;
    background-color: #9099A2;
    border: 0 solid black; 
    margin: 0 0 0 0.2604%;
    
}

.one input {
    
    width: 7.8125%;
    padding: 0 0 0 0.2604%;
    
}

.two input {
    
    width: 15.625%;
    padding: 0 0 0 0.2604%;
    
}


.three input {
    
    width: 23.4375%;
    padding: 0 0 0 0.2604%;
    
}

#contact #form textarea {
    
    resize: none;
    border-radius: 5px;
    height: 7.41%;
    width: 30.21%;
    background-color: #96858F;
    border: 0 solid black; 
    margin: 0 0 0 0.2604%;
    box-shadow: inset -0.93% 0.52% 4.63% 0 #76656F;
    color: #D5D5D5;
    text-shadow: 1px 1px #454545;
    font-size: 112.5%;
    font-family: "Time New Roman", "Calibri", "Myriad Pro", "Arial Narrow";
    padding: 0 0 0 0.2604%;
    
}

#contact #form .button input {
    
    background-color: #96858F;
    border: none;
    height: 4.63%;
    width: 39.06%;
    display: flex;
    justify-content: center;
    color: #D5D5D5;
    text-shadow: 2px 2px #454545;
    font-size: 112.5%;
    font-family: "Time New Roman", "Calibri", "Myriad Pro", "Arial Narrow";
    text-align: center;
    cursor: pointer;
    box-shadow: inset 0 0 4.63% 0 #76656F;
    transition-duration: 1s;
    
}

#contact #form .button input:hover {
    
    transition-duration: 1s;
    font-size: 175%;
    color: #E8E8E8;
    font-weight: bold;
    text-shadow: 5px 5px #454545;
    
}